<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services_demo_1" data-view="Services" data-title="With Percentages" data-moreinfo="Great for tracking performance" style="background-color:#47bbb3;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services_demo_2" data-view="Services" data-title="No Percentages" data-moreinfo="For when history doesn't matter" style="background-color:#47bbb3;"></div>
    </li>
    
  </ul>
</div>