<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services_demo_1" data-view="Services" data-title="With Percentages" data-moreinfo="Great for tracking performance" style="background-color:#47bbb3;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services_demo_2" data-view="Services" data-upicon="fa fa-circle fa-fw" data-downicon="fa fa-circle fa-fw" data-title="No Percentages" data-moreinfo="For when history doesn't matter" style="background-color:#96bf48;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services_demo_3" data-view="Services" data-upicon="fa fa-heart fa-fw" data-downicon="fa fa-warning fa-fw" data-title="Configurable Icons" data-moreinfo="Uses FontAwesome" style="background-color:#ff9618;"></div>
    </li>
    
  </ul>
</div>